:root {
    --white: #fff;
    --black: #000;
    --text-color: #000000CC;
    --main-color: #fb5533;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
}

a {
    color: inherit;
}


.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.gird-full {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
}

.modal {
    display: none;
    z-index: 10;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.separate-r {
    position: relative;
}

.separate-r::after {

    content: "";
    display: block;
    width: 2px;
    height: 15px;
    background-color: hsla(0, 0%, 100%, .22);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
}