.breadcrumb {
  margin-top: 20px;
  font-size: 1.3rem;
  color: rgb(0, 85, 170);
}

.breadcrumb__list {
  list-style-type: none;
  display: flex;
}

.breadcrumb__item {
  margin-right: 20px;
  position: relative;
}

.breadcrumb__item::after {
  content: "\f054";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: block;
  position: absolute;
  left: calc(100% + 5px);
  top: 50%;
  transform: translateY(-50%);
  color: var(--text-color);
}

.breadcrumb__item--onsite {
  color: var(--text-color);
  cursor: text;
}

.breadcrumb__item--onsite::after {
  display: none;
}
