.container {
  margin-top: 20px;
  color: var(--text-color);
  background-color: var(--white);
}

.container img {
  display: block;
}

.cargo__image {
  padding: 15px;
}

.cargo__image img {
  width: 100%;
}

.cargo__image-item-list {
  margin-left: -5px;
  margin-right: -5px;
  margin-top: 5px;
  position: relative;
}

.cargo__image-item {
  padding: 5px;
  cursor: pointer;
  position: relative;
}

.cargo__image-item::after {
  content: "";
  display: block;
  position: absolute;
  /* padding */
  top: 5px;
  bottom: 5px;
  left: 5px;
  right: 5px;
  z-index: 1;
}
.cargo__image-item:hover::after {
  border: 3px solid var(--main-color);
}

.container .change-image-arrow {
  opacity: 1;
  font-size: 15px;
  padding-left: 4px;
  padding-right: 4px;
}

.container .change-image-arrow--left {
  left: 5px;
}

.container .change-image-arrow--right {
  right: 5px;
}

.cargo_img-footer {
  margin-top: 25px;
  font-size: 1.6rem;
  display: flex;
  width: 100%;
}

.cargo__share-list {
  display: flex;
  align-items: center;
  width: 50%;
  justify-content: center;

  border-right: 2px solid #e8e8e8;
}

.cargo__share-title {
  font-size: 1.6rem;
  font-weight: 400;
}
.cargo__share-item {
  width: 25px;
  height: 25px;
  background-image: url(../img/cargo/socials.png);
  background-size: cover;
  margin-left: 5px;
}

.cargo__share-item:hover {
  cursor: pointer;
  opacity: 0.7;
}

.cargo__share-item--ms {
  background-position: top 0% left;
}
.cargo__share-item--fb {
  background-position: top 25% left;
}
.cargo__share-item--pt {
  background-position: top 50% left;
}
.cargo__share-item--tw {
  background-position: top 75% left;
}

.cargo__like {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cargo__like-icon {
  margin-right: 15px;
  font-size: 2.5rem;
  color: var(--main-color);
  cursor: pointer;
}

.cargo__like-icon .on-hover {
  display: none;
}

.cargo__like-icon:hover .on-hover {
  display: block;
}
.cargo__like-icon:hover .no-hover {
  display: none;
}

.cargo__desc {
  padding: 20px 35px;
}

.cargo__desc-title {
  font-size: 2rem;
  font-weight: 400;
  line-height: 2.4rem;
}
.cargo__desc-title-label {
  vertical-align: middle;
  align-self: center;
  line-height: 1.8rem;
  padding: 0 8px;
  font-size: 1.2rem;
  color: var(--white);
  background-color: var(--main-color);
  border-radius: 2px;
  display: inline-block;
}

.cargo__desc-interact {
  margin-top: 10px;
  font-size: 1.4rem;
  justify-content: space-between;
  color: #767676;
}

.cargo__desc-interact .title {
  color: #222;
  font-size: 1.7rem;
  text-decoration: underline;
}

.cargo__interact-cmt,
.cargo__interact-sold {
  padding: 0 20px;
}

.cargo__interact-star {
  padding-right: 20px;
  color: var(--main-color);
}

.cargo__interact-star .title {
  color: var(--main-color);
}
.cargo__interact-star .icon {
  font-size: var(--star-height);
}
.cargo__interact-cmt {
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
}

.cargo__interact-sold .title {
  text-decoration: none;
}
.cargo__interact-report:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* Flash share */
.cargo__flash-sale {
  margin-top: 15px;
}

.flash-sale__header {
  background-image: url(../img/cargo/flash-sale-bg.jpg);
  background-size: cover;
  padding: 7px 30px;
  display: flex;
  justify-content: space-between;
}

.flash-sale__title img {
  height: 100%;
}

.flash-sale__clock {
  font-size: 1.4rem;
  color: var(--white);
  display: flex;
}

.flash-sale__clock-title .icon {
  font-size: 2rem;
}

.flash-sale__clock-content {
  margin-left: 15px;
  display: flex;
  justify-content: space-between;
}

.flash-sale__clock-item {
  background-color: #000;
  font-size: 1.7rem;
  padding: 0 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
}

.flash-sale__clock-item ~ .flash-sale__clock-item {
  margin-left: 10px;
}

.flash-sale__body {
  background-color: #fafafa;
  padding: 15px 20px;
  display: flex;
  align-items: center;
}

.flash-sale__body .flash-sale__price--new,
.flash-sale__body .flash-sale__price--old {
  margin-right: 10px;
}

.flash-sale__body .flash-sale__price--old {
  font-size: 1.6rem;
  color: #92929292;
  text-decoration: line-through;
}
.flash-sale__body .flash-sale__price--new {
  font-size: 3rem;
  color: var(--main-color);
}
.flash-sale__body .flash-sale__discount {
  color: var(--white);
  background-color: var(--main-color);
  padding: 2px 4px;
  font-size: 1.2rem;
  font-weight: 500;
}

.cargo__buy {
  padding: 25px 20px;
  font-size: 1.4rem;
}

.cargo__buy-detail {
  margin-bottom: 15px;
}

.cargo__buy-detail-label {
  color: #757575;
}

.cargo__buy-detail-content {
  color: #555;
  margin-left: 5px;
  display: flex;
  align-items: center;
}

.cargo__buy-detail-content .icon {
  display: inline-block;
  width: 25px;
  margin-right: 5px;
  align-self: flex-start;
}

.icon img {
  width: 100%;
}

.cargo__buy-detail-content .discount {
  color: var(--main-color);
  background-color: #ffeee8;
  padding: 3px 8px;
}

.cargo__buy-detail-content .transport {
  width: 100%;
}

.transport__item .icon {
  align-self: flex-start;
}

.transport__item + .transport__item {
  margin-top: 15px;
}

.cargo__buy-detail-content .transport__item-title {
  width: 30%;
}

.cargo__buy-detail-content .transport__item-content {
  color: #000;
}

/* Color */
.cargo__buy-detail-color-list {
  display: flex;
  flex-wrap: wrap;
  max-height: 200px;
  overflow: scroll;
  align-items: flex-start;
  margin-bottom: 25px;
}

.cargo__color {
  padding: 8px;
  border: solid 1px #ccc;
  display: flex;
  margin: 0px 0px 5px 5px;
  align-items: center;
  position: relative;
}

.cargo__color:hover {
  cursor: pointer;
  border: solid 1px var(--main-color);
  color: var(--main-color);
}

.cargo__color:hover::after,
.cargo__color:hover::before {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
}

.cargo__color:hover::after {
  content: "";

  z-index: 1;
  border-bottom: 7px var(--main-color) solid;
  border-right: 7px var(--main-color) solid;
  border-left: 7px transparent solid;
  border-top: 7px transparent solid;
}

.cargo__color:hover::before {
  content: "\f00c";
  font-family: "fontawesome";
  z-index: 2;
  font-size: 0.8rem;
  color: var(--white);
}

.cargo__color-img {
  margin-right: 10px;
  height: 24px;
  width: 24px;
}

.cargo__color img {
  width: 100%;
}

.cargo__quantity {
  display: flex;
}

.cargo__quantity-btn {
  padding: 7px 9px;
  border: 1px solid #ccc;
}

.cargo__quantity-number {
  width: 60px;
  border: solid 1px #ccc;
  padding: 7px 5px;
  font-size: 1.5rem;
  text-align: center;
}

.cargo__quantity-remain {
  margin-left: 30px;
  align-self: center;
}

.cargo__btn-list {
  display: flex;
  padding-bottom: 15px;
  border-bottom: 1px solid #cccccc7c;
}

.cargo__btn {
  margin: 0 15px 15px 0;
  padding: 0 20px;
  min-width: 200px;
  font-size: 1.4rem;
  line-height: 48px;
  border: 1.5px solid #ccc;
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
}

.cargo__btn--plus {
  border-color: var(--main-color);
  color: var(--main-color);
  background-color: #fff5f1;
}
.cargo__btn--plus i {
  font-size: 1.7rem;
  margin-right: 5px;
}
.cargo__btn--buy {
  color: white;
  background-color: var(--main-color);
}

.cargo__btn--plus:hover {
  background-color: #fff5f1a5;
}
.cargo__btn--buy:hover {
  background-color: #fb5433d0;
}

.cargo__pressure {
  display: flex;
  font-size: 1.4rem;
  align-items: center;
  margin-top: 25px;
  padding-left: 15px;
}

.cargo__pressure img {
  margin-right: 5px;
  height: 25px;
  display: inline;
}

.cargo__pressure-title {
  margin-right: 30px;
  color: #222;
  font-weight: 500;
}

.cargo__pressure-content {
  color: rgba(0, 0, 0, 0.54);
}
