body {
    padding-bottom: 100px;
    background-color: #F5F5F5;
}


.container__side {
    font-size: 1.4rem;
    padding-right: 10px;
}

.container__side-content {
    margin-bottom: 20px;
}

.filter-title {
    line-height: 50px;
    font-weight: 600;
}

.filter-list {
    padding-top: 15px;
    padding-bottom: 25px;
}

.filter-item--active {
    color: var(--main-color);
}

.filter-active-icon {
    position: absolute;
    left: 0;
    bottom: 50%;
    transform: translateY(50%);
}

.filter-item {
    padding: 8px 15px;
    position: relative;
}

.filter-item:hover {
    color: var(--main-color);
}

.filter-list {
    list-style-type: none;
}

.container__side-title {
    font-weight: 400;
    margin-bottom: 20PX;
}

.container__filter-input-desc {
    padding-left: 5px;
    cursor: pointer;
}

.filter-btn {
    padding: 5px;
    width: 100%;
    font-size: 1.4rem;
}

.filter-list-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-TOP: 10PX;
}

.filter-price-input {
    width: 40%;
    padding: 6px 6px;
}

.container__filter_item-star:hover {
    cursor: pointer;
}

.container__filter_item-star i {
    color: var(--main-color);
}