.header {
    padding-bottom: 0.1px;
}

.header {
    background-image: linear-gradient(#f53d2d, #f63);
    color: var(--white);
}

.header__nav,
.header__nav-list {
    display: flex;
}

.header__nav {
    justify-content: space-between;
}

.header__nav-list {
    list-style-type: none;
    font-size: 1.3rem;
}

.header__nav-item {
    padding: 10px;
    font-weight: 400;
}

.header__nav-item:hover {
    color: rgba(255, 255, 255, 0.7);
}

.header__nav-item--no-hover {
    color: rgba(255, 255, 255, 1) !important;
}

.header__nav-item--social {
    padding: 10px 0;
}

.header__nav-item--social {
    margin-left: -10px;
}

.header__nav-item--social~.header__nav-item--social {
    margin-left: 0;
}

.header__nav-download {
    background-color: white;
    width: 180px;
    position: absolute;
    top: 100%;
    left: 0;
    border-radius: 2px;
    overflow: hidden;

}

/* Stores dơnload APp */
.header__nav-item--modal {
    position: relative;
}


header .header__nav-item--modal:hover .modal {
    display: block;
}

.header__nav-download-store img,
.header__nav-download-qr img {
    width: 100%;
}

.header__nav-download-stores {
    display: flex;
    flex-wrap: wrap;
}

.header__nav-download-store {
    width: 50%;
    padding: 0 10px;
}

/* Notification */
.header__notification {
    background-color: white;
    width: 400px;
    color: var(--text-color);
    font-size: 1.4rem;

}


.modal--scale::after {
    content: "";
    display: block;
    border-bottom: 9px solid white;
    border-right: 15px solid rgba(0, 0, 0, 0);
    border-left: 15px solid rgba(0, 0, 0, 0);
    position: absolute;
    bottom: 100%;
    right: 10%;
}

header .header__nav-item--modal:hover .modal--scale {
    transition: all 0.5s ease-in-out;
    opacity: 1;
    transform: scale(1);
}



.header__notification-content--empty {
    min-height: 310px;
    flex-direction: column;
}

.header__notification-content-img {
    width: 100px;
    margin-bottom: 20px;
}

.header__notification-footer {
    display: flex;
}

.header__notification-footer .btn {
    text-align: center;
    width: 50%;
    line-height: 40px;
    background-color: #f5f5f5;
}

.header__notification-footer .btn:hover {
    color: #F5962D;
    background-color: #cbcaca;
}


/* Modal Language */
.header__nav-language {
    background-color: white;
    color: var(--text-color);
    font-size: 1.4rem;
    min-width: 200px;
}

.header__nav-languages {
    list-style-type: none;
}

.header_nav-language {
    padding: 10px;
    cursor: pointer;
}

.header_nav-language:hover {
    color: var(--main-color);
}

.header__nav-item a {
    text-decoration: none;
}

.header__nav-item-icon {
    font-size: 1.5rem;
    margin: 0 5px;
}



/* Search */

.header__content {
    display: flex;
    margin: 16px auto 5px;
}

.header__content-logo {
    width: 200px;
}

.header__content-logo svg {
    fill: #fff;
    height: 50px;
}

.header__content-search {
    flex-grow: 1;
}

.form__search {
    display: flex;
    padding: 3px;
    background-color: var(--white);
    border-radius: 3px;
    box-shadow: .125rem .25rem rgba(0, 0, 0, .09);
    position: relative;
}



.form__search-input {
    flex-grow: 1;
    padding: 10px;
    border: none;
    font-size: 1.4rem;
    position: relative;
}


.separate-r--form::after {
    background-color: #ccc !important;
    width: 1px;
    height: 30px;
}

.form__select-input {
    padding: 10px;
    width: 150px;
    font-size: 1.4rem;
    border: none;
    overflow: hidden;
    color: var(--text-color);
    position: relative;
}

.form__select-options {
    border-radius: 4px;
    position: absolute;
    top: calc(100% + 10px);
    right: calc(10px);
    color: var(--text-color);
    font-size: 1.4rem;
    background-color: var(--white);
    width: 200px;
}

.form__select-options::before {
    content: "";
    display: block;
    background-color: rgba(0, 0, 0, 0);
    height: 10px;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
}

.form__select-values {
    padding: 15px;
}

.form__search:hover .modal {
    display: block;
}

.form__select-values:hover {
    border: 1px solid black;
    background-color: rgba(0, 0, 0, .09);
    cursor: pointer;
}

.form__search-btn {
    width: 60px;
    color: var(--white);
    background-color: var(--main-color);
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.form__search-btn:hover {
    opacity: 0.7;
    transition: opacity ease-in-out 0.05s;
}

.header__content-suggest-list {
    margin-top: 5px;
    list-style-type: none;
    font-size: 1.2rem;
    display: flex;
    flex-wrap: wrap;
}

.header__content-suggest:hover {
    color: rgba(255, 255, 255, 0.7);
}

.header__content-suggest {
    margin-right: 13px;
}

.header__content-suggest a {
    text-decoration: none;
}

.header__content-cart {
    width: 160px;
    font-size: 26px;
}

.header__content-cart i {
    padding: 10px;
}

.modal--scale-cart {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    color: var(--text-color);
    background-color: white;
    width: 400px;
    top: calc(100% + 9px);
}

.modal--scale-cart::after {
    right: 10px;
}

.cart-no-item {
    padding: 50px 0;
}

.modal--scale-cart .cart-modal__img {
    width: 100px;
}

.modal--scale-cart .cart-modal__img img {
    width: 100%;
}